!!! 5
%html
  %head
    = csrf_meta_tag
    %title HackClass
    = stylesheet_link_tag "application"
    /[if lt IE 9]
      = javascript_include_tag 'application'
  %body
    %article
      %header
        %h1 HackClass
        %h2 hack the learning curve
      = yield
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js', :defer => true, :async => true
    %script{:type => "text/javascript",
            :src  => "assets/jquery.infieldlabel.min.js"}        
    :javascript
      $(document).ready(function(){
        $("label").inFieldLabels();
      });