!!! 5
%html
  %head
    = csrf_meta_tag
    %title HackClass
    = stylesheet_link_tag "base"
    /[if lt IE 9]
      = javascript_include_tag 'html5'
  %body
    = yield
    = javascript_include_tag :defaults
    %script{:type => "text/javascript",
            :src  => "assets/jquery.infieldlabel.min.js"}
    :javascript
      $(document).ready(function(){
        $("label").inFieldLabels();
      });